@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.swiper-pagination-bullet {
  background-color: #999999; /* Default gray dot */
  opacity: 0.6;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #2563eb !important; /* Active blue dot */
  opacity: 1;
}
